<!DOCTYPE html>
{% extends 'rango/base.html' %}
{% load static %} <!-- New line -->
<html>
<head>
<title>Homepage</title>
</head>
<body>
<h1>Rango says...</h1>
<div>
hey there partner! <br />
<strong>{{ boldmessage }}</strong><br />
</div>
<div>
    {% if categories %}
 <h2>Most Liked Categories</h2>
 <ul>
 {% for category in categories %}
 <li>{{ category.name }}</li>
     <a href="{% url 'rango:show_category' category.slug %}">
         {{ category.name }}

     </a>
 {% endfor %}
 </ul>
 {% else %}
 <strong>There are no categories present.</strong>
 {% endif %}
 </div>
<ul>
 <h2>Most Viewed Category</h2>
{% for category in categories %}
<li>
<!-- The following line is changed to add an HTML hyperlink -->
<a href="/rango/category/{{ category.slug }}/">{{ category.name }}</a>
</li>
{% endfor %}
</ul>

<a href="/rango/about/">About</a><br />
<img src="{% static 'images/rango.jpg' %}"
alt="Picture of Rango" /> <!-- New line -->
</div>
</body>
</html>
